body{
  margin:0% 2% 0% 2%;
  background-color: #BEC3CB;
  color: #101B2B;
}
.header{
  height: 60px;
  margin: 0px;
}
.header-left{
  position: relative;
  float: left;
}
.header-right{
  position: relative;
  float: right;
}
 ul{
  list-style: none;
}
.header-right ul li{
  display: inline-block;
  background-color: #101B2B;
  padding:5px;
  margin:5px;
  border-radius: 5px;
  color: #BEC3CB;
}
.container{
  margin: 0px;
  position: absolute;
  top:60px;
  width:98%;
}
.container-right{
  position: relative;
  float: right;
  width: 65%;
}
.container-left{
  position: relative;
  float: left;
  width: 35%;
}
.mySlides{
  height: 300px;
  width: 94%;
  padding:3%;
}
.form{
  text-align: center
}
.form form{
  display:inline-block
}
.form form ul li{
  text-align: right;
}
.footer{
  margin: 0px;
}
