body{
  margin:0% 2% 0% 2%;
  background-color: #BEC3CB;
  color: #0B2854;
}
.header{
  color:#BEC3CB;
  height: 60px;
  margin: 0px;
  background-color: #0B2854;
  width: 100%;
  border-radius: 5px;
}
.header-left{
  position: relative;
  float: left;
}
.header-right{
  position: relative;
  float: right;
}
 ul{
  list-style: none;
}
.header-right ul li{
  display: inline-block;
  background-color: #101B2B;
  padding:5px;
  margin:5px;
  border-radius: 5px;
  color: #BEC3CB;
}
.container{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  position: relative;
  width:99.7%;
  height:auto;
}
.container-right{
  position: relative;
  float: right;
  width: 65%;
}
.container-left{
  position: relative;
  float: left;
  width: 35%;
}
.mySlides{
  height: 300px;
  width: 94%;
  padding:3%;
}
.form{
  margin-left:25%;
  width:50%;


}
.form form{
  display:inline-block;
  text-align: center;
  border-radius: 5px;
  border: #0B2854 solid 1px;
  width: 100%;
  padding:10px;
  margin:30px 0px;
}
.form form ul li{
  text-align: right;
  width: 100%;
  font-weight: 400;
}
.form form ul li input{
  border-radius: 5px;
  text-align: center;
  width: 70%;
  margin:10px 30px 10px 0px;
  padding:5px;
}
.footer{
  margin: 0px;
}
a{
  text-decoration: none;
  color: inherit;
}
